# This workflow will build and publish documentation

name: Build & Publish documentation

on:
  workflow_dispatch:
  
# Sets permissions of the GITHUB_TOKEN to allow deployment to GitHub Pages
permissions:
  contents: read
  pages: write
  id-token: write
  
# Allow one concurrent deployment
concurrency:
  group: "pages"
  cancel-in-progress: true
  
env:
  PUBLISH_DOC_PATH: ./Publish/Docs
  GENERATED_DOC_PATH: ./Docs_Generated
  
  PATH_INTERFACES: ./QuakeReloaded.Interfaces
  
jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    
    - name: Setup .NET
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: 6.0.x
    
    # Install xmldoc tool
    - name: Setup XMLDoc2Markdown
      run: dotnet tool install -g XMLDoc2Markdown
      
    - name: Restore packages
      working-directory: ${{ env.PATH_INTERFACES }}
      run: dotnet restore
        
    - name: Build
      working-directory: ${{ env.PATH_INTERFACES }}
      run: dotnet build --configuration Release
      
    - name: Generate Documentation
      run: xmldoc2md "${{ env.PATH_INTERFACES }}/bin/Release/netstandard2.0/QuakeReloaded.Interfaces.dll" "${{ env.GENERATED_DOC_PATH }}"
      
    - name: Rename documentation entry point
      working-directory: ${{ env.GENERATED_DOC_PATH }}
      run: mv "index.md" "api.md"
    
    - name: Copy dynamic documentation to static documentation folder
      run: mv "${{ env.GENERATED_DOC_PATH }}"/* ./docs
      
    - name: Build Jekyll for GitHub Pages
      uses: actions/jekyll-build-pages@v1.0.6
      with:
        source: ./docs
        destination: ${{ env.PUBLISH_DOC_PATH }}
        
    - name: Upload documentation artifact
      uses: actions/upload-pages-artifact@v1.0.4
      with:
        path: ${{env.PUBLISH_DOC_PATH }}
        
  # Deployment job
  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v1
    
      
      
      
