# Script to build and publish a Reloaded Mod based on script from Sewer56.

# Produces when pushing a tag: 
#   - Build mod
#   - Build interfaces
#   - Changelog
#   - Interfaces documentation
#   - Uploads mod to Github as release
#   - Uploads interfaces to Nuget

name: Build and Publish Reloaded Mod

on:
  push:
    tags:
      - '*'
  workflow_dispatch:

env: 
  PUBLISH_COMMON_PATH: ./Publish/ToUpload/
  PUBLISH_GITHUB_PATH: ./Publish/ToUpload/Generic
  PUBLISH_CHANGELOG_PATH: ./Publish/Changelog.md
  PUBLISH_DOCUMENTATION_PATH: ./Publish/Docs
  PUBLISH_PATH: ./Publish
  
  PATH_INTERFACES: ./QuakeReloaded.Interfaces
  
  RELOADEDIIMODS: .
  
  IS_RELEASE: ${{ startsWith(github.ref, 'refs/tags/') }}
  RELEASE_TAG: ${{ github.ref_name }}
  VERSIONPREFIX: ${{ github.ref_name }}

jobs:
  generate_documentation:
    uses: jpiolho/QuakeReloaded/.github/workflows/documentation.yml@main
        
  build:
    runs-on: windows-latest
    defaults:
      run:
        shell: pwsh
        
    steps:
      # Fetch latest code
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
          submodules: 'recursive'
      
      # Install .NET
      - name: Setup .NET
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: 7.0.x
          
      # Install Node.js
      - name: Setup Node.js
        uses: actions/setup-node@v2
        with:
          node-version: '18'
          
      # Install Nuget
      - name: Setup NuGet.exe for use with actions
        uses: NuGet/setup-nuget@v1.1.1
      
      - name: Setup AutoChangelog
        run: npm install -g auto-changelog
        
      # Install xmldoc tool
      - name: Setup XMLDoc2Markdown
        run: dotnet tool install -g XMLDoc2Markdown
      
      - name: Create Changelog
        run: |
          [System.IO.Directory]::CreateDirectory("$env:PUBLISH_PATH")
          if ($env:IS_RELEASE -eq 'true') {
              auto-changelog --sort-commits date --hide-credit --template compact --commit-limit false --starting-version "$env:RELEASE_TAG" --output "$env:PUBLISH_CHANGELOG_PATH"
          }
          else {
              auto-changelog --sort-commits date --hide-credit --template compact --commit-limit false --unreleased --output "$env:PUBLISH_CHANGELOG_PATH"
          }
      
      - name: "Interfaces: Restore"
        working-directory: ${{ env.PATH_INTERFACES }}
        run: dotnet restore
        
      - name: "Interfaces: Build"
        working-directory: ${{ env.PATH_INTERFACES }}
        run: dotnet build --configuration Release
      
      - name: Build mod
        run: |
          ./Publish.ps1 `
            -ChangelogPath "$env:PUBLISH_CHANGELOG_PATH" `
            -PublishNuGet False `
            -PublishGameBanana False `
            -ProjectPath "QuakeReloaded/QuakeReloaded.csproj" `
            -PackageName "QuakeReloaded" `
            -GitHubUserName "$env:GITHUB_REPOSITORY_OWNER" `
            -GitHubRepoName "$env:GITHUB_REPOSITORY"
      
      
      - name: "Interfaces: Publish to Nuget"
        working-directory: ${{ env.PATH_INTERFACES }}
        run: nuget push **\*.nupkg -Source 'https://api.nuget.org/v3/index.json' -ApiKey ${{secrets.NUGET_API_KEY}}
      
      - name: Upload GitHub Release Artifact
        uses: actions/upload-artifact@v3.1.1
        with:
          # Artifact name
          name: GitHub Release
          # A file, directory or wildcard pattern that describes what to upload
          path: ${{ env.PUBLISH_GITHUB_PATH }}/*
      
      - name: Upload Changelog Artifact
        uses: actions/upload-artifact@v3.1.1
        with:
          # Artifact name
          name: Changelog
          # A file, directory or wildcard pattern that describes what to upload
          path: ${{ env.PUBLISH_CHANGELOG_PATH }}
          retention-days: 0
          
      - name: Upload to GitHub Releases (on Tag)
        uses: softprops/action-gh-release@v0.1.14
        if: env.IS_RELEASE == 'true'
        with:
          # Path to load note-worthy description of changes in release from
          body_path: ${{ env.PUBLISH_CHANGELOG_PATH }}
          # Newline-delimited list of path globs for asset files to upload
          files: |
            ${{ env.PUBLISH_GITHUB_PATH }}/*
